<div class="page-bar" style = "">
            <ul class="page-breadcrumb" style="margin-right: 10px">
              <li>
                <i class="fa fa-home"></i>
                <a href="root">Home</a>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href="topicspage">Racing</a>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href="subtopicspage">Strategies</a>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
              	<a href="#">MICHAEL PHELPS RACES AND WHATNOT</a>
              </li>
            </ul>
          </div>
          <div class="row">
          	<div class="col-md-7">
          		<iframe width="824" height="480" src="//www.youtube.com/embed/AVExBUxIcIs" frameborder="0" allowfullscreen></iframe>
          	</div>
          	<div class="col-md-4">
          		<p style="color:grey">Description:</p>
          		<p>Notice how at 3:20 he does that thing. He is very good at doing that thing. He is so good, in fact, at doing that thing, that he holds the world record for gold medals at a single Olympics, because he's so good at doing that thing.</p>
          	</div>
          </div>