.container
  %section.header-11-sub
    .background  
    .container
      .row
        .col-sm-4
          %h3 Features of Startup Framework
          %p You have the design, you have the code. We’ve created the product that will help your startup to look even better.
          .signup-form

          .additional-links
            By signing up you agree to
            %a{:href => "#"} Terms of Use
            and
            %a{:href => "#"} Privacy
        .col-sm-7.col-sm-offset-1.player-wrapper
          .player
            %iframe#pPlayer{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/80282064?title=0&byline=0&portrait=0&api=1&player_id=pPlayer", :webkitallowfullscreen => ""}
  %section.crew-4
    .container
      .row
        %h3
          Featured Videos
          %br/
          A few of the videos on SwimRocket
        .members
          - @articles.take(3).each do |article|
            .member-wrapper
              .member
                .photo-wrapper
                  .photo{:style => "background-image"}
                    %img{:alt => "", :src => "https://i.ytimg.com/vi/#{article.embed}/mqdefault.jpg", :style => "display: none;"}/
                  .overlay
                    %a{:href => "/articles/#{article.id}"}
                      %span.fa.fa-play
                .info
                  .name= article.title
                  = article.description
