<%= form_tag articles_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
<% end %>
<% @articles.each do |article|%>
  <%= render "article_preview"%>
<% end %>
