
<h3 class="page-title">New Subtopics</h3>
<div class="page-bar">
            <ul class="page-breadcrumb" style="margin-right: 10px">
              <li>
                <i class="fa fa-home"></i>
                <%= link_to "Home", root_path%>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href=<%="/topics/#{@subtopic.topic.id}"%>><%=@subtopic.topic.name%></a>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href="">New Subtopic</a>
              </li>
            </ul>
          </div>
<%= render "subtopics/change_subtopic_form" %>