<div class="row">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-body">
        <h3 class="page-title">Create a new subject </h3>
        <%= render "subject_form"%>
      </div>
    </div>
  </div>
</div>