
.thumbnail-content{
  height: 126px;
  width:  224px;
  border: 1px solid #cecece;
}
.content-title{
  color: black;
  text-decoration: none;
  font-size:17px;
  font-weight: 300;
}
.content-title:hover{
  text-decoration:none;
}
.content-description{
  color:#95a5a6;
  font-size:12px;
}
.preview-title-link{
  color: black;
}
.preview-title-link:hover{
  color: #2c3e50;
  text-decoration: none;
}
thumbnail.video-thumbnail{
  height: 409px;
}
.article-description{
  height: 64px;
}
.breadcrumb > li + li:before{
  display: none;
}
h2.title-no-margin{
  top-margin: none;
}