<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
      <li class="active"><a href="#">Butterfly</a></li>
      <li><a href="#">Backstroke</a></li>
      <li><a href="#">Breaststroke</a></li>
      <li><a href="#">Freestyle</a></li>
    </ul>